.btn 
  border-radius 1u

.editBtn, .closeBtn, .openBtn, .saveBtn
  padding 0.2u 1u
  margin 0 1u 0 0

.editBtn
  background #00ff00

.closeBtn
  background orange

.openBtn
  background #ddd

.saveBtn
  background  #4fc3f7   

.deleteBtn
  background #ff0000
  padding 0.2u 1u